<h1><a href="/games/<%= @gamesession.game.id %>"><%= @gamesession.game.name %></a></h1>
<h3><%= @gamesession.format_date %></h3>

<% @gamesession.players.each do |player| %>
    <% if player.name == "Current User" %>
        <p>Me
            <% if @gamesession.winner.include?(player) %>
                - WINNER!
            <% end %>
        </p>
    <% else %>
        <p><%= player.name %>
            <% if @gamesession.winner.include?(player) %>
                - WINNER!
            <% end %>
        </p>
    <% end %>
<% end %>

<form action="/gamesessions/<%= @gamesession.id %>/edit" method="GET">
    <input type="submit" value="Edit Session">
</form>
<form action="/gamesessions/<%= @gamesession.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Session">
</form>
<br>
<a href="/gamesessions">Back</a>