<h1><%= @game.name %></h1>
<p>Type: <%= @game.gametype %></p>

<form action="/games/<%= @game.id %>/edit" method="GET">
    <input type="submit" value="Edit Game">
</form>
<form action="/games/<%= @game.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Game">
</form><br>

<h1>Sessions</h1>
<h3>My Winrate: <%= @game.my_winrate %>%</h3>
<% @gamesessions.each do |gamesession| %>
<h3><%= gamesession.format_date %></h3>
    <% gamesession.players.each do |player| %>
        <% if player.name == "Current User" %>
            <p>Me
                <% if player.id == gamesession.winner_id %>
                    - WINNER!
                <% end %>
            </p>
        <% else %>
            <p><%= player.name %>
                <% if player.id == gamesession.winner_id %>
                    - WINNER!
                <% end %>
            </p>
        <% end %>
    <% end %>
<% end %>
<a href="/games">Back</a>